<%= form_for(benefit) do |f| %>
  <% if benefit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(benefit.errors.count, "error") %> prohibited this benefit from being saved:</h2>

      <ul>
      <% benefit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Descripcion %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :Beneficio_1 %>
    <%= f.text_field :title1 %>
  </div>

  <div class="field">
    <%= f.label :Descripcion_beneficio_1 %>
    <%= f.text_field :desc1 %>
  </div>

  <div class="field">
    <%= f.label :Icono %>
    <select class="fa" name="benefit[icon1]" id="benefit_icon1">
        <option value="fa-home">&#xf015; icon-home</option>
        <option value="fa-road">&#xf018; icon-road</option>
        <option value="fa-glass">&#xf000; icon-glass</option>
        <option value="fa-music">&#xf001; icon-music</option>
        <option value="fa-search">&#xf002; icon-search</option>
        <option value="fa-envelope-alt">&#xf003; icon-envelope-alt</option>
        <option value="fa-heart">&#xf004; icon-heart</option>
        <option value="fa-star">&#xf005; icon-star</option>
        <option value="fa-star-empty">&#xf006; icon-star-empty</option>
        <option value="fa-user">&#xf007; icon-user</option>
        <option value="fa-film">&#xf008; icon-film</option>
        <option value="fa-th-large">&#xf009; icon-th-large</option>
        <option value="fa-th">&#xf00a; icon-th</option>
        <option value="fa-th-list">&#xf00b; icon-th-list</option>
        <option value="fa-ok">&#xf00c; icon-ok</option>
        <option value="fa-remove">&#xf00d; icon-remove</option>
    </select> 
       
  </div>

  <div class="field">
    <%= f.label :title2 %>
    <%= f.text_field :title2 %>
  </div>

  <div class="field">
    <%= f.label :desc2 %>
    <%= f.text_field :desc2 %>
  </div>

  <div class="field">
    <%= f.label :icon2 %>
    <select class="fa" name="benefit[icon2]" id="benefit_icon2">
        <option value="fa-home">&#xf015; icon-home</option>
        <option value="fa-road">&#xf018; icon-road</option>
        <option value="fa-glass">&#xf000; icon-glass</option>
        <option value="fa-music">&#xf001; icon-music</option>
        <option value="fa-search">&#xf002; icon-search</option>
        <option value="fa-envelope-alt">&#xf003; icon-envelope-alt</option>
        <option value="fa-heart">&#xf004; icon-heart</option>
        <option value="fa-star">&#xf005; icon-star</option>
        <option value="fa-star-empty">&#xf006; icon-star-empty</option>
        <option value="fa-user">&#xf007; icon-user</option>
        <option value="fa-film">&#xf008; icon-film</option>
        <option value="fa-th-large">&#xf009; icon-th-large</option>
        <option value="fa-th">&#xf00a; icon-th</option>
        <option value="fa-th-list">&#xf00b; icon-th-list</option>
        <option value="fa-ok">&#xf00c; icon-ok</option>
        <option value="fa-remove">&#xf00d; icon-remove</option>
    </select> 
       
  </div>

  <div class="field">
    <%= f.label :title3 %>
    <%= f.text_field :title3 %>
  </div>

  <div class="field">
    <%= f.label :desc3 %>
    <%= f.text_field :desc3 %>
  </div>

  <div class="field">
    <%= f.label :icon3 %>
    <select class="fa" name="benefit[icon3]" id="benefit_icon3">
        <option value="fa-home">&#xf015; icon-home</option>
        <option value="fa-road">&#xf018; icon-road</option>
        <option value="fa-glass">&#xf000; icon-glass</option>
        <option value="fa-music">&#xf001; icon-music</option>
        <option value="fa-search">&#xf002; icon-search</option>
        <option value="fa-envelope-alt">&#xf003; icon-envelope-alt</option>
        <option value="fa-heart">&#xf004; icon-heart</option>
        <option value="fa-star">&#xf005; icon-star</option>
        <option value="fa-star-empty">&#xf006; icon-star-empty</option>
        <option value="fa-user">&#xf007; icon-user</option>
        <option value="fa-film">&#xf008; icon-film</option>
        <option value="fa-th-large">&#xf009; icon-th-large</option>
        <option value="fa-th">&#xf00a; icon-th</option>
        <option value="fa-th-list">&#xf00b; icon-th-list</option>
        <option value="fa-ok">&#xf00c; icon-ok</option>
        <option value="fa-remove">&#xf00d; icon-remove</option>
    </select> 
       
  </div>

  <div class="field">
    <%= f.label :title4 %>
    <%= f.text_field :title4 %>
  </div>

  <div class="field">
    <%= f.label :desc4 %>
    <%= f.text_field :desc4 %>
  </div>

  <div class="field">
    <%= f.label :icon4 %>
    <select class="fa" name="benefit[icon4]" id="benefit_icon4">
        <option value="fa-home">&#xf015; icon-home</option>
        <option value="fa-road">&#xf018; icon-road</option>
        <option value="fa-glass">&#xf000; icon-glass</option>
        <option value="fa-music">&#xf001; icon-music</option>
        <option value="fa-search">&#xf002; icon-search</option>
        <option value="fa-envelope-alt">&#xf003; icon-envelope-alt</option>
        <option value="fa-heart">&#xf004; icon-heart</option>
        <option value="fa-star">&#xf005; icon-star</option>
        <option value="fa-star-empty">&#xf006; icon-star-empty</option>
        <option value="fa-user">&#xf007; icon-user</option>
        <option value="fa-film">&#xf008; icon-film</option>
        <option value="fa-th-large">&#xf009; icon-th-large</option>
        <option value="fa-th">&#xf00a; icon-th</option>
        <option value="fa-th-list">&#xf00b; icon-th-list</option>
        <option value="fa-ok">&#xf00c; icon-ok</option>
        <option value="fa-remove">&#xf00d; icon-remove</option>
    </select> 
       
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
