<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @benefit.description %>
</p>

<p>
  <strong>Title1:</strong>
  <%= @benefit.title1 %>
</p>

<p>
  <strong>Desc1:</strong>
  <%= @benefit.desc1 %>
</p>

<p>
  <strong>Icon1:</strong>
  <%= @benefit.icon1 %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @benefit.title2 %>
</p>

<p>
  <strong>Desc2:</strong>
  <%= @benefit.desc2 %>
</p>

<p>
  <strong>Icon2:</strong>
  <%= @benefit.icon2 %>
</p>

<p>
  <strong>Title3:</strong>
  <%= @benefit.title3 %>
</p>

<p>
  <strong>Desc3:</strong>
  <%= @benefit.desc3 %>
</p>

<p>
  <strong>Icon3:</strong>
  <%= @benefit.icon3 %>
</p>

<p>
  <strong>Title4:</strong>
  <%= @benefit.title4 %>
</p>

<p>
  <strong>Desc4:</strong>
  <%= @benefit.desc4 %>
</p>

<p>
  <strong>Icon4:</strong>
  <%= @benefit.icon4 %>
</p>

<%= link_to 'Edit', edit_benefit_path(@benefit) %> |
<%= link_to 'Back', benefits_path %>
