<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong>Slider</strong></h2>
      <ol class="breadcrumb">
         <li>
            <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
         </li>
         <li>
            <a href="/sliders">Listado</a>
         </li>
         <li class="active">
            <% if @slider.new_record? %>
            <strong class="text-blue">Registrar Slider</strong>
            <% else %>
            <strong class="text-blue">Editar Slider</strong>
            <% end %>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <div class="ibox float-e-margins">
            <div class="ibox-title">
               <h4 class="text-dark-blue"><strong>Slider</strong></h4>
            </div>
            <div class="ibox-content">
               <div class="row">
                  <div class="col-sm-12">
                     <%= form_for @slider , :html => {:multipart => true } do |f| %>
                     <% if @slider.errors.any? %>
                     <div id="error_explanation">
                        <h2><%= pluralize(slider.errors.count, "error") %> prohibited this slider from being saved:</h2>
                        <ul>
                           <% @slider.errors.full_messages.each do |message| %>
                           <li><%= message %></li>
                           <% end %>
                        </ul>
                     </div>
                     <% end %>
                     <div class="form-group">
                        <label class="control-label">Título: <label for="slider_title" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :title,:required => true, :class => "form-control" %>
                     </div>
                     <div class="form-group">
                        <label class="control-label">Descripción: <label for="slider_description" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :description,:required => true, :class => "form-control" , :title => "Descripción que refiere a la descripción del slider, no a la sección"%>
                     </div>
                     <div class="form-group">
                        <label class="control-label">Color del texto: <label for="slider_color" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <% if @slider.new_record? %>
                        <input type="text" id="slider_color" name="slider[color]" class="form-control demo" data-position="bottom right" value="#00257b" title="Dale color a tu texto, ingresa su código hexadecimal o selecciona de la paleta de colores">
                        <% else %>
                        <input type="text" id="slider_color" name="slider[color]" class="form-control demo" data-position="bottom right" title="Dale color a tu texto, ingresa su código hexadecimal o selecciona de la paleta de colores" value="<%= @slider.color %>">
                        <% end %>
                     </div>
                     <div class="form-group">
                        <label class="control-label">Botón: <label for="slider_buttontext" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :buttontext,:required => true, :title => "Identifica la dirección del botón", :class => "form-control" %>
                     </div>
                     <div class="form-group">
                        <label class="control-label">Enlace: <label for="slider_link" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :link,:required => true, :title => "Direcciona al usuario al sitio de interes", :class => "form-control" %>
                     </div>
                     <div class="navy-line"></div>
                     </br></br>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group" align="center" >
                              <label class="control-label">Fondo: <label for="slider_fondo" class="control-label error" style="margin-bottom: 0px;"></label></label>
                              <label class="btn btn-sm btn-primary btn-file">
                              Buscar imagen... <input  name="slider[fondo]" id="slider_fondo" type="file" hidden>
                              </label>
                              <% if !@slider.new_record? %>
                              <%= image_tag @slider.fondo.url(:medium), :class => "img-responsive" , :size => "300x226" , :title => "Imagen de fondo para el slider principal"%>
                              <% end %>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group" align="center">
                              <label class="control-label">Imagen: <label for="slider_imagen" class="control-label error" style="margin-bottom: 0px;"></label></label>
                              <%#= f.file_field :imagen, :class => "form-control" %>
                              <label class="btn btn-sm btn-primary btn-file">
                              Buscar imagen... <input  name="slider[imagen]" id="slider_imagen" type="file" hidden>
                              </label>
                              <% if !@slider.new_record? %>
                              <%= image_tag @slider.imagen.url(:medium), :class => "img-responsive" , :size => "300x226" , :title => "Imagen del slider principal" %>
                              <%end%>
                           </div>
                        </div>
                     </div>
                     </br></br>
                     <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                        </div>
                        <% if (@slider.new_record?) %>
                        <div class="col-lg-2">
                           <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                        <% end %>
                        <div class="col-lg-2">
                           <%= link_to 'Atrás', sliders_path, :class => "btn btn-sm btn-default" %>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-2"></div>
   </div>
</div>
<style>
   .btn-file {
   position: relative;
   overflow: hidden;
   }
   .btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
   }
</style>
<% content_for :javascript do %>
<script type="text/javascript">
   $('#form-generic').validate({
     rules: {
       'mensaje[nombre]': {  
           required: true,
           solo_letras: true
       }
     }
   });
   
</script>
<% end %>
<script>
   $(document).ready( function() {
     $('.demo').each( function() {
       //
       // Dear reader, it's actually very easy to initialize MiniColors. For example:
       //
       //  $(selector).minicolors();
       //
       // The way I've done it below is just for the demo, so don't get confused
       // by it. Also, data- attributes aren't supported at this time...they're
       // only used for this demo.
       //
       $(this).minicolors({
         control: $(this).attr('data-control') || 'hue',
         defaultValue: $(this).attr('data-defaultValue') || '',
         format: $(this).attr('data-format') || 'hex',
         keywords: $(this).attr('data-keywords') || '',
         inline: $(this).attr('data-inline') === 'true',
         letterCase: $(this).attr('data-letterCase') || 'lowercase',
         opacity: $(this).attr('data-opacity'),
         position: $(this).attr('data-position') || 'bottom left',
         swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
         change: function(value, opacity) {
           if( !value ) return;
           if( opacity ) value += ', ' + opacity;
           if( typeof console === 'object' ) {
             console.log(value);
           }
         },
         theme: 'bootstrap'
       });
     });
   });
</script>