<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="" href="/">
                    <img width="240" height="40" class="navbar-brand" style="background-color: #FFFFFF;" src="<%= image_url '/assets/logo/brezza-logo.png' %>">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Inicio</a></li>
                    <li><a class="page-scroll" href="#productos">Productos</a></li>
                    <li><a class="page-scroll" href="#team">Equipo</a></li>
                    <li><a class="page-scroll" href="#pricing">Únete</a></li>
                    <li><a class="page-scroll" href="#contact">Contacto</a></li>
                    <li><a class="page-scroll" href="/login">Iniciar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
    <li data-target="#inSlider" data-slide-to="2"></li>
    <li data-target="#inSlider" data-slide-to="3"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>Impulsamos marcas,<br/>
                    aplicaciones y proyectos<br/>
                    innovadores
                    </h1>
                <p>Hazte partícipe de los beneficios y del crecimiento corporativo.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="#" role="button">Conoce como</a>
                    
                </p>
            </div>
            <div class="carousel-image wow bounceInRight">
                <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>

    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Desarrollamos <br/> tu pasión</h1>
                <p>Trabaja con nosotros y sé parte de proyectos<br/> que cambiarán el mundo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Únete al equipo</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Brezza <br/> Energy</h1>
                <p>Vive el aroma de crecer en equipo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Aliarse</a></p>
            </div>
             <div class="carousel-image wow slideInRight">
                <img src="<%= image_path('landing/bombillo2.png') %>" alt="energy"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back three"></div>
    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Innova <br/> Café</h1>
                <p>Vive el aroma de crecer en equipo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Aliarse</a></p>
            </div>
             <div class="carousel-image wow slideInRight">
                <img src="<%= image_path('landing/cafe.png') %>"  width="430px" alt="cafe"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back four"></div>
    </div>
</div>
<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
</a>
</div>


<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Beneficios</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 1</h2>
            <i class="fa fa-bar-chart big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 2</h2>
            <i class="fa fa-bolt big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 3</h2>
            <i class="fa fa-clock-o big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 4</h2>
            <i class="fa fa-users big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
    </div>
</div>

</section>

<section id="productos" class=" gray-section">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Más de 10 productos<br/> <span class="navy"> que cambiarán el mundo</span> </h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <%= link_to products_path do %>
            <i class="fa fa-mobile features-icon"></i>
            <h2><%= link_to 'Aplicaciones', products_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <%= link_to root_path do %> 
            <i class="fa fa-street-view features-icon"></i>
            <h2><%= link_to 'Responsabilidad Social', root_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
         <%= link_to root_path do %>
            <i class="fa fa-connectdevelop features-icon"></i>
             <h2><%= link_to 'Franquicias', root_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <%= link_to root_path do %>
            <i class="fa fa-skyatlas features-icon"></i>
             <h2><%= link_to 'Multiplataformas', root_path, class: "btn btn-primary" %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
</div>
</div>
</section>



<link href="../knight/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../knight/css/style.css" rel="stylesheet" type="text/css">
<link href="../knight/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../knight/css/responsive.css" rel="stylesheet" type="text/css">
<link href="../knight/css/animate.css" rel="stylesheet" type="text/css">

<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

<script type="text/javascript" src="../knight/js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="../knight/js/bootstrap.js"></script>
<script type="text/javascript" src="../knight/js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="../knight/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../knight/js/jquery.isotope.js"></script>
<script type="text/javascript" src="../knight/js/wow.js"></script>
<script type="text/javascript" src="../knight/js/classie.js"></script>



<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
    <div class="container">
        <h2>Catálogo</h2>
        <h6>Frescos y novedosos a tu alcance.</h6>
      <div class="portfolioFilter">  
        <ul class="Portfolio-nav wow fadeIn delay-02s">
            <li><a href="#" data-filter="*" class="current" >Todos</a></li>
            <li><a href="#" data-filter=".startup" >Startup</a></li>
            <li><a href="#" data-filter=".financiero" >Financiero</a></li>
            <li><a href="#" data-filter=".turismo" >Turismo</a></li>
            <li><a href="#" data-filter=".ecologia" >Ecología</a></li>
        </ul>
       </div> 
        
    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
                <div class=" Portfolio-box printdesign startup">
                    <a href="#"><img src="../knight/img/valor.jpg" alt=""></a>   
                    <h3>Ideal Value</h3>
                    <p>Startup</p>
                </div>
                <div class="Portfolio-box financiero">
                    <a href="#"><img src="../knight/img/scoring.jpeg" alt=""></a>   
                    <h3>New-scoring</h3>
                    <p>Financiero</p>
                </div>
                <div class=" Portfolio-box startup">
                    <a href="#"><img src="../knight/img/crowd.jpg" alt=""></a>   
                    <h3>Crowd-pocket</h3>
                    <p>Startup</p>
                </div>
                <div class=" Portfolio-box ecologia" >
                    <a href="#"><img src="../knight/img/Portfolio-pic6.jpg" alt=""></a>   
                    <h3>Brezza Energy</h3>
                    <p>Ecología</p>
                </div>
                <div class=" Portfolio-box turismo startup">
                    <a href="#"><img src="../knight/img/cafe.jpg" alt=""></a>   
                    <h3>Innova-café</h3>
                    <p>Startup, Turismo</p>
                </div>
                <div class=" Portfolio-box ecologia">
                    <a href="#"><img src="../knight/img/bosque.jpg" alt=""></a>   
                    <h3>Habitat-Voice</h3>
                    <p>Ecología</p>
                </div>
    </div>
</section><!--main-section-end-->

<style type="text/css">
    

/* Portfolio
---------------------------------*/
.Portfolio-nav{
    padding:0;
    margin:0 0 45px 0;
    list-style:none;
    text-align:center;
}
.Portfolio-nav li{
    margin:0 10px;
    display:inline;
}
.Portfolio-nav li a{
    display:inline-block;
    padding:10px 22px;
    font-size:12px;
    line-height:20px;
    color:#222222;
    border-radius:4px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    background:#f7f7f7;
    margin-bottom:5px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
    background:#00257b;
    color:#fff;
    text-decoration:none;
}

.portfolioContainer{
    margin:0 auto;
    padding-left:15px;
}

.Portfolio-box{
    text-align:center;
    margin-bottom:30px;
    height:350px;
    width:350px;
    overflow:hidden;
    float:left;
    padding:0;
}
.Portfolio-box img{
    margin-bottom:25px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;    
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current{
    background:#00257b;
    color:#fff;
    text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
    padding-bottom:60px;
}


</style>


<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            
            filter: selector,
         });
         return false;
    });
  
});

</script>



<section id="team" class="features">

<div class="container">
     <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
            <h1>Quiénes Somos</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    <div class="col-lg-6 text-center">
       
        <div class="col-lg-12 text-center m-t-n-lg wow zoomIn">
            </br>
            </br>
            <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
        </div>
    </div>
    <div class="col-lg-6 text-center">
    <!--FILOSOFIA DE GESTION-->
    </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
        <div class="block">
            <input type="radio" name="city" id="cityA" checked />   
            <label for="cityA"><span>Brezza Project</span></label>
            <div class="info">
                <p>Somos una red de investigadores formados en áreas multidisciplinarias que pone en   marcha el ingenio y la integración innovadora, para cooperar y apalancar la transición de nuestras sociedades a modos de vida y de negocios más sustentables.
                </p>
            </div>
        </div>
        <div class="block">
            <input type="radio" name="city" id="cityB"/>
            <label for="cityB"><span>Misión</span></label>
            <div class="info">
                <p> Facilitar el intercambio de información y la integración entre personas, organizaciones y mercados, a través del diseño y puesta en funcionamiento de innovaciones tecnológicas que contribuyan a su vez con el incremento de la eficiencia, el mejoramiento continuo, la transparencia y la calidad de vida en los segmentos y espacios hacia los que enfocamos nuestra cooperación.</p>
            </div>
        </div>
        <div class="block">
            <input type="radio" name="city" id="cityC" />
            <label for="cityC"><span>Visión</span></label>
            <div class="info">
                <p>Destacar en la generación de productos y servicios innovadores que dinamicen diferentes nichos de mercado, en torno a los nuevos modos de participación social, la nueva arquitectura financiera mundial y el desarrollo local.
                </p>  
            </div>
        </div>
    </div>
</div>
</section>

<section id="Steps" class="steps-section timeline gray-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Cómo ser parte de Brezza Project</h1>
            <p>En 4 simples pasos puedes unirte a alguno de nuestros productos</p>
        </div>
    </div>
    <div class="row features-block">
          <!-- STEPS -->

        <div class="steps-timeline">

          <div class="steps-one wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s">
            <img class="steps-img" src="<%= image_url '/assets/step0.jpg' %>" alt="" />
            <h3 class="steps-name">
              Regístrate
            </h3>
            <p class="steps-description">
                Llena el formulario de registro y selecciona el proyecto en el que estás interesado en formar parte.        
            </p>
          </div>

          <div class="steps-two wow slideInDown" data-wow-duration="2s" data-wow-delay="1.5s">
            <img class="steps-img" src="<%= image_url '/assets/step2.jpg' %>" alt="" />
            <h3 class="steps-name">
              Evaluación
            </h3>
            <p class="steps-description">
               Nuestros expertos evaluarán tu solicitud, y se pondrán en contacto contigo para confirmar la información.
            </p>
          </div>

          <div class="steps-three wow slideInUp" data-wow-duration="2s" data-wow-delay="3s">
            <img class="steps-img" src="<%= image_url '/assets/step4.png' %>" alt="" />
            <h3 class="steps-name">
              Confirmación
            </h3>
            <p class="steps-description">
               Valida tu información y confirma tu participación.
            </p>
          </div>
          <div class="steps-four wow slideInRight" data-wow-duration="2s" data-wow-delay="4.5s">
            <img class="steps-img" src="<%= image_url '/assets/step5.jpg' %>" alt="" />
            <h3 class="steps-name">
              Asociación
            </h3>
            <p class="steps-description">
               Ya eres parte de uno de los productos que cambiarán el mundo, podrás recibir actualizaciones y seguir el progreso del mismo.
            </p>
          </div>

        </div><!-- /.steps-timeline -->
    </div>
</div>

</section>


<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
 
    
    
    
    <div id="carousel">
        <div class=" text-center wow zoomIn ">
           <i class="fa fa-comment big-icon"></i>
        </div>
  
    <div id="slides">
        <ul>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase">" I was literally BLOWN AWAY by Company A's work! They went above and beyond all of our expectations with design, usability. and branding, I will reccommend them to everyone I know!"

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">John Doe // Local Business Owner</p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase">"I could not stop staring! Company A's Web Solutions are by far the most elegant solutions, you can't beat their quality and attention to detail!"

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">Andy Fakename // CEO: Andy's Camping Supplies</p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase">"Carl Fakeguy, was the most helpful designer I've ever hired. He listened to my ideas and advised against things that could negatively affect my CEO. Company A is by far the most generous and helpful company, 5/5!"

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">Janice Falsename</p>
                </div>
            </li>
        </ul>
    </div>
        <div class="btn-bar">
            <div id="buttons"><a id="prev" href="#"></a><a id="next" href="#"></a> </div>
        </div>
    </div>
</section>





<section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Aliarse</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Técnico
                </li>
                <li class="pricing-desc">
                    Trabaja con nosotros y sé parte de proyectos que cambiarán el mundo.
                </li>
                <li class="pricing-price">
                    Desarrollador
                </li>
                <li>
                    Diseñador
                </li>
                <li>
                    Marketing
                </li>
                <li>
                    Analista
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    Financiero
                </li>
                <li class="pricing-desc">
                    Invierte y conviértete en accionista o anunciante exitoso.
                </li>
                <li>
                    Seguimiento de proyectos
                </li>
                <li>
                    Contacto directo
                </li>
                <li>
                    Notificaciones
                </li>
                <li>
                    Tiempos
                </li>
                <li>
                    <strong>Ganancias</strong>
                </li>
                <li class="plan-action">
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Comercial
                </li>
                <li class="pricing-desc">
                    Opera y representa nuestros productos y servicios en la ciudad o país que desees.
                </li>
                <li>
                    Seguimiento de proyectos
                </li>
                <li>
                    Contacto directo
                </li>
                <li>
                    Notificaciones
                </li>
                <li>
                    Tiempos
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>* Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

</section>

<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contáctanos</h1>
            <p>Dejanos tu mensaje y te atenderemos a la brevedad.</p>
        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-2">
            <br><br>
            <address>
                <strong><span class="navy">Brezza Project C.A.</span></strong><br/>
                Av. Lara con Av. Los Leones<br/>
                Barquisimeto, Lara, Venezuela<br/>
                <abbr title="Phone">Teléfono:</abbr> +58(251) 456-7890
            </address>
            <br><br>
            <div class="col-lg-12 text-center">
            <p class="m-t-sm">
                O siguenos en nuestras redes sociales
            </p>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-5">
            <div>
                <%= form_tag(root_path, {:class => "form"}) do %>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" name="nombre" placeholder="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input type="email" name="email" placeholder="ejemplo@mail.net" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mensaje</label>
                            <textarea name="mensaje" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Enviar</button>

                <% end -%>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2016-2017 Brezza Project S.A.</strong><br/> Intégrate y prospera.</p>
        </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


    // Activate WOW.js plugin for animation on scrol
    new WOW().init();


});

</script>

<% end %>
