  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="" href="/">
                    <img width="240" height="40" class="navbar-brand" style="background-color: #FFFFFF;" src="<%= image_url '/assets/logo/brezza-logo.png' %>">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Inicio</a></li>
                    <li><a class="page-scroll" href="#productos">Productos</a></li>
                    <li><a class="page-scroll" href="#team">Equipo</a></li>
                    <li><a class="page-scroll" href="#pricing">Únete</a></li>
                    <li><a class="page-scroll" href="#contact">Contacto</a></li>
                    <li><a class="page-scroll" href="/login">Iniciar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
    <li data-target="#inSlider" data-slide-to="2"></li>
    <li data-target="#inSlider" data-slide-to="3"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>Impulsamos marcas,<br/>
                    aplicaciones y proyectos<br/>
                    innovadores
                    </h1>
                <p>Hazte partícipe de los beneficios y del crecimiento corporativo.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="#" role="button">Conoce como</a>
                    
                </p>
            </div>
            <div class="carousel-image wow slideInRight" data-wow-delay="1.2s">
                <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>

    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Desarrollamos <br/> tu pasión</h1>
                <p>Trabaja con nosotros y sé parte de proyectos<br/> que cambiarán el mundo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Únete al equipo</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Brezza <br/> Energy</h1>
                <p>Vive el aroma de crecer en equipo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Aliarse</a></p>
            </div>
             <div class="carousel-image wow slideInRight">
                <img src="<%= image_path('landing/bombillo.png') %>" alt="energy"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back three"></div>
    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Innova <br/> Café</h1>
                <p>Vive el aroma de crecer en equipo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Aliarse</a></p>
            </div>
             <div class="carousel-image wow slideInRight">
                <img src="<%= image_path('landing/cafe.png') %>"  width="430px" alt="cafe"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back four"></div>
    </div>
</div>
<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
</a>
</div>


<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Beneficios</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 1</h2>
            <i class="fa fa-bar-chart big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 2</h2>
            <i class="fa fa-bolt big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 3</h2>
            <i class="fa fa-clock-o big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 4</h2>
            <i class="fa fa-users big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
    </div>
</div>

</section>

<section id="productos" class=" gray-section">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Más de 10 productos<br/> <span class="navy"> que cambiarán el mundo</span> </h1>
        <p>Correspondiendo a servicios diferenciados, diseñados para abordar nichos desatendidos<br/> dentro de mega tendencias globales relacionadas con la nueva arquitectura financiera mundial. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <%= link_to products_path do %>
            <i class="fa fa-mobile features-icon"></i>
            <h2><%= link_to 'Aplicaciones', products_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Desarrolladas por gente joven y con un mercado en continuo crecimiento.</p>
        </div>
        <div class="m-t-lg">
            <%= link_to root_path do %> 
            <i class="fa fa-street-view features-icon"></i>
            <h2><%= link_to 'Responsabilidad Social', root_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Ya no es una moda o tendencia, sino es un factor decisivo para el desarrollo sostenible de un país.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
         <%= link_to root_path do %>
            <i class="fa fa-connectdevelop features-icon"></i>
             <h2><%= link_to 'Franquicias', root_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Una de las claves para llevar con éxito el negocio es el trabajo en equipo.</p>
        </div>
        <div class="m-t-lg">
            <%= link_to root_path do %>
            <i class="fa fa-skyatlas features-icon"></i>
             <h2><%= link_to 'Multiplataformas', root_path, class: "btn btn-primary" %></h2>
            <% end %>
            <p>Creando, desarrollando y/o adaptando nuestras estrategias para amoldarnos a los nuevos hábitos.</p>
        </div>
    </div>
</div>
</div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                 <div class="navy-line"></div>
                <h1>Catálogo</h1>
                <p>Frescos y novedosos a tu alcance.</p>
            </div>
        </div>    
        <div class="row" style="margin-bottom: 40px;">
          
                <ul id="filters" class="clearfix">
                <li><span class="filter active" data-filter=".startup, .finanzas, .turismo, .ecologia, .web">Todos</span></li>
                <li><span class="filter" data-filter=".startup">Startup</span></li>
                <li><span class="filter" data-filter=".finanzas">Finanzas</span></li>
                <li><span class="filter" data-filter=".turismo">Turismo</span></li>
                <li><span class="filter" data-filter=".ecologia">Ecología</span></li>
                <li><span class="filter" data-filter=".web">Web</span></li>
                </ul>
            <div style=" height: 400px;vertical-align:middle;">
                <div id="portfoliolist">
                  <div class="portfolio startup" data-cat="startup">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/portfolio/valor.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Ideal Value</a> 
                          <span class="text-category">#Startup</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio finanzas web" data-cat="finanzas web">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/portfolio/scoring.jpeg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">New-Scoring</a> 
                          <span class="text-category">#finanzas #web</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio startup" data-cat="startup">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/portfolio/crowd2.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Crowd-Pocket</a> 
                          <span class="text-category">#Startup</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio web ecologia" data-cat="web ecologia">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/portfolio/Portfolio-pic6.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Brezza Energy</a> 
                          <span class="text-category">#Web - #Ecologia</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio turismo startup" data-cat="turismo startup">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/portfolio/cafe.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Innova-Café</a> 
                          <span class="text-category">Turismo - Startup</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio turismo ecologia" data-cat="turismo ecologia">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/portfolio/bosque.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Habitat-Voice</a> 
                          <span class="text-category">Ecologia</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio turismo ecologia" data-cat="turismo ecologia">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/p7.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Hill Climb</a> 
                          <span class="text-category">#Turismo #Ecologia</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio turismo ecologia web" data-cat="turismo ecologia web">
                    <div class="portfolio-wrapper">
                      <img src="<%= image_url '/assets/p8.jpg' %>" alt="" />
                      <div class="label">
                        <div class="label-text">
                          <a class="text-title">Sea Watcher</a> 
                          <span class="text-category">Turismo Ecologia</span>
                        </div>
                        <div class="label-bg"> </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        
    </div>
</section>
<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                Lo que dicen los medios
            </h1>
            
            
            <dv class="text-center">
               </br></br>
        <div id="slides">
            <ul>
                <% @testimonials.each do |testimonial| %>
                <li class="slide">
                      <div class="testimonials-text">
                        <h3>"<%= testimonial.quote %>"</h3>
                      </div>
                      <small>
                        <strong><%= testimonial.autor %> - <%= testimonial.date %></strong>
                      </small>
                </li>
                <% end %>
            </ul>
        </div>
                <div class="btn-bar">
                  <div id="buttons">
                    <a id="prev" href="#">.</a>
                    <a id="next" href="#">.</a> 
                  </div>
                </div>
             
             
                    
            </div>
            
        </div>
    </div>
</div>

</section>

<section id="team" class="features">
   <div class="container">
      <div class="col-lg-12 text-center">
         <div class="navy-line"></div>
         <h1>Quiénes Somos</h1>
         <p><%= @whoare.description %> </p>
      </div>
      <div class="col-lg-6 text-center">
         <div class="col-lg-12 text-center m-t-n-lg wow zoomIn">
            </br>
            </br>
            <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
         </div>
      </div>
      <div class="col-lg-6 text-center wow fadeInDown">
         <!--FILOSOFIA DE GESTION-->
         <br><br><br><br>
         <div class="accordion">
            <div class="panel-group" id="accordion1">
               <div class="panel panel-default">

                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">

                  <div class="panel-heading actives">

                     <h3 class="panel-title">
                        Brezza Project S.A.
                        <i class="fa fa-angle-right pull-right"></i>
                     </h3>
                    </a>
                  </div>
                  <div id="collapseOne1" class="panel-collapse collapse in">
                     <div class="panel-body">
                        <div class="media accordion-inner">
                           <div class="media-body">
                              <p><%= @whoare.brezzastory%> </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                     <h3 class="panel-title">
                        Misión
                        <i class="fa fa-angle-right pull-right"></i>
                     </h3>
                     </a>
                  </div>
                  <div id="collapseTwo1" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p><%= @whoare.mission %> </p>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                     <h3 class="panel-title">
                        Visión
                        <i class="fa fa-angle-right pull-right"></i>
                     </h3>
                     </a>
                  </div>
                  <div id="collapseThree1" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p><%= @whoare.vision %> </p>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                     <h3 class="panel-title">
                        Reseña Histórica
                        <i class="fa fa-angle-right pull-right"></i>
                     </h3>
                     </a>
                  </div>
                  <div id="collapseFour1" class="panel-collapse collapse">
                     <div class="panel-body">

                        <%= image_tag "bz1.png" %>
                        
                    <button type="button" class="btn btn-primary btn-lg fa fa-play" data-toggle="modal" data-target="#myModal"> Ver Video</button>
                        
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Reseña Histórica</h4>
                                </div>
                                <div class="modal-body">
                                  <iframe id="cartoonVideo" width="560" height="315" src="<%="//www.youtube.com/embed/"+@whoare.final_url %>" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        
                        
                        
                        
                     </div>
                  </div>
               </div>
            </div>
            <!--/#accordion1-->
         </div>
      </div>
   </div>
               <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Reseña Historica</h4>
                            <small class="font-bold">Intégrate y prospera.</small>
                        </div>
                        <div class="modal-body">
                            <figure align="center">
                                <iframe width="75%" height="380" src="https://www.youtube.com/embed/8MQwjoHu7Ik" frameborder="0"></iframe>
                            </figure>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
</section>

<section id="Steps" class="pasos-section timeline gray-section">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Cómo ser parte de Brezza Project</h1>
            <p>En 4 simples pasos puedes unirte a alguno de nuestros productos</p>
          
</div>
        </div>
    </div>

    <div class="row features-block">
          <!-- STEPS -->
        <span class="cool-link"></span>
        <div class="pasos-timeline">
        
          <div class="pasos-one wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img class="pasos-img" src="<%= image_url '/assets/step0.jpg' %>" alt="" />
            <h3 class="pasos-name">
              Regístrate
            </h3>
            <p class="pasos-description">
                Llena el formulario de registro y selecciona el proyecto en el que estás interesado en formar parte.        
            </p>
          </div>

          <div class="pasos-two wow slideInLeft" data-wow-duration="2s" data-wow-delay="1.5s">
            <img class="pasos-img" src="<%= image_url '/assets/step2.jpg' %>" alt="" />
            <h3 class="pasos-name">
              Evaluación
            </h3>
            <p class="pasos-description">
               Nuestros expertos evaluarán tu solicitud, y se pondrán en contacto contigo para confirmar la información.
            </p>
          </div>

          <div class="pasos-three wow slideInRight" data-wow-duration="2s" data-wow-delay="2.5s">
            <img class="pasos-img" src="<%= image_url '/assets/step3-0.jpg' %>" alt="" />
            <h3 class="pasos-name">
              Confirmación
            </h3>
            <p class="pasos-description">
               Valida tu información y confirma tu participación.
            </p>
          </div>
          <div class="pasos-four wow slideInRight" data-wow-duration="2s" data-wow-delay="3.5s">
            <img class="pasos-img" src="<%= image_url '/assets/step5.jpg' %>" alt="" />
            <h3 class="pasos-name">
              Asociación
            </h3>
            <p class="pasos-description">
               Ya eres parte de uno de los productos que cambiarán el mundo, podrás recibir actualizaciones y seguir el progreso del mismo.
            </p>
          </div>

        </div><!-- /.pasos-timeline -->
    </div>
</div>
</section>



<section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Aliarse</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Técnico
                </li>
                <li class="pricing-desc">
                    Trabaja con nosotros y sé parte de proyectos que cambiarán el mundo.
                </li>
                <li class="pricing-price">
                    Desarrollador
                </li>
                <li>
                    Diseñador
                </li>
                <li>
                    Marketing
                </li>
                <li>
                    Analista
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    Financiero
                </li>
                <li class="pricing-desc">
                    Invierte y conviértete en accionista o anunciante exitoso.
                </li>
                <li>
                    Seguimiento de proyectos
                </li>
                <li>
                    Contacto directo
                </li>
                <li>
                    Notificaciones
                </li>
                <li>
                    Tiempos
                </li>
                <li>
                    <strong>Ganancias</strong>
                </li>
                <li class="plan-action">
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Comercial
                </li>
                <li class="pricing-desc">
                    Opera y representa nuestros productos y servicios en la ciudad o país que desees.
                </li>
                <li>
                    Seguimiento de proyectos
                </li>
                <li>
                    Contacto directo
                </li>
                <li>
                    Notificaciones
                </li>
                <li>
                    Tiempos
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>* Al registrarse usted debe aceptar un acuerdo de confidencialidad bajo nuestros terminos y condiciones.</p>
        </div>
    </div>
</div>
</section>


<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contáctanos</h1>
            <p>Dejanos tu mensaje y te atenderemos a la brevedad.</p>
        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-2">
            <br><br>
            <address>
                <strong><span class="navy">Brezza Project S.A.</span></strong><br/>
                Av. Lara con Av. Los Leones<br/>
                Barquisimeto, Lara, Venezuela<br/>
                <abbr title="Phone">Teléfono:</abbr> +58(251) 456-7890
            </address>
            <br><br>
            <div class="col-lg-12 text-center">
            <p class="m-t-sm">
                O siguenos en nuestras redes sociales
            </p>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-5">
            <div>
                <%= form_tag(root_path, {:class => "form"}) do %>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" name="nombre" placeholder="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input type="email" name="email" placeholder="ejemplo@mail.net" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mensaje</label>
                            <textarea name="mensaje" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Enviar</button>

                <% end -%>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2016-2017 Brezza Project S.A.</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


    // Activate WOW.js plugin for animation on scrol
    new WOW().init();


});

</script>

<% end %>
