<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="" href="/">
                    <img width="240" height="40" class="navbar-brand" style="background-color: #FFFFFF;" src="<%= image_url '/assets/logo/brezza-logo.png' %>">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Inicio</a></li>
                    <li><a class="page-scroll" href="#productos">Productos</a></li>
                    <li><a class="page-scroll" href="#team">Equipo</a></li>
                    <li><a class="page-scroll" href="#pricing">Únete</a></li>
                    <li><a class="page-scroll" href="#contact">Contacto</a></li>
                    <li><a class="page-scroll" href="/login">Iniciar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
    <li data-target="#inSlider" data-slide-to="2"></li>
    <li data-target="#inSlider" data-slide-to="3"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>Impulsamos marcas,<br/>
                    aplicaciones y proyectos<br/>
                    innovadores
                    </h1>
                <p>Hazte partícipe de los beneficios y del crecimiento corporativo.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="#" role="button">Conoce como</a>
                    
                </p>
            </div>
            <div class="carousel-image wow zoomIn">
                <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>

    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Desarrollamos <br/> tu pasión</h1>
                <p>Trabaja con nosotros y sé parte de proyectos<br/> que cambiarán el mundo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Únete al equipo</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Brezza <br/> Energy</h1>
                <p>Vive el aroma de crecer en equipo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Aliarse</a></p>
            </div>
             <div class="carousel-image wow slideInRight">
                <img src="<%= image_path('landing/bombillo.png') %>" alt="energy"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back three"></div>
    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Innova <br/> Café</h1>
                <p>Vive el aroma de crecer en equipo
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Aliarse</a></p>
            </div>
             <div class="carousel-image wow slideInRight">
                <img src="<%= image_path('landing/cafe.png') %>"  width="430px" alt="cafe"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back four"></div>
    </div>
</div>
<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
</a>
<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
</a>
</div>


<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Beneficios</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 1</h2>
            <i class="fa fa-bar-chart big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 2</h2>
            <i class="fa fa-bolt big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 3</h2>
            <i class="fa fa-clock-o big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>Brezza Project</small>
            <h2>Beneficio 4</h2>
            <i class="fa fa-users big-icon pull-right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
    </div>
</div>

</section>

<section id="productos" class=" gray-section">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Más de 10 productos<br/> <span class="navy"> que cambiarán el mundo</span> </h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <%= link_to products_path do %>
            <i class="fa fa-mobile features-icon"></i>
            <h2><%= link_to 'Aplicaciones', products_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <%= link_to root_path do %> 
            <i class="fa fa-street-view features-icon"></i>
            <h2><%= link_to 'Responsabilidad Social', root_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
         <%= link_to root_path do %>
            <i class="fa fa-connectdevelop features-icon"></i>
             <h2><%= link_to 'Franquicias', root_path, class: "btn btn-primary"  %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <%= link_to root_path do %>
            <i class="fa fa-skyatlas features-icon"></i>
             <h2><%= link_to 'Multiplataformas', root_path, class: "btn btn-primary" %></h2>
            <% end %>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
</div>
</div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                 <div class="navy-line"></div>
                <h1>Catálogo</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>    
        <div class="row">
                
        </div>
        
    </div>
</section>
<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                Lo que dicen los medios
            </h1>
            <div class="testimonials-text">
                <i>"Brezza Project es un proyecto que cambiará la manera como vemos el mundo brindando las herramientas necesarias para innovar."</i>
            </div>
            <small>
                <strong>12.04.2017 - Times</strong>
            </small>
        </div>
    </div>
</div>

</section>

<section id="team" class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Quiénes Somos</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-3 features-text wow fadeInLeft">
            <small>Brezza Project</small>
            <h2>Misión</h2>
            <p>Facilitar el intercambio de información y la integración entre personas, organizaciones y mercados, a través del diseño y puesta en funcionamiento de innovaciones tecnológicas que contribuyan a su vez con el incremento de la eficiencia, el mejoramiento continuo, la transparencia y la calidad de vida en los segmentos y espacios hacia los que enfocamos nuestra cooperación.</p>
            <a href="" class="btn btn-primary">Organización</a>
        </div>
        <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
            <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
        </div>
        <div class="col-lg-3 features-text text-right wow fadeInRight">
            <small>Brezza Project</small>
            <h2>Visión</h2>
            <p>Destacar en la generación de productos y servicios innovadores que dinamicen diferentes nichos de mercado, en torno a los nuevos modos de participación social, la nueva arquitectura financiera mundial y el desarrollo local.</p>
            <a href="" class="btn btn-primary">Reseña Histórica</a>
        </div>
    </div>
</div>

</section>

<section class="timeline gray-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Cómo ser parte de Brezza Project</h1>
            <p>En 4 simples pasos puedes unirte a alguno de nuestros productos</p>
        </div>
    </div>
    <div class="row features-block">

        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-plus"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <div class="col-md-3"><h2><a>Registrate</a></h2></div>
                        <div class="col-md-9">Llena el formulario de registro y selecciona el proyecto en el que estás interesado en formar parte
                        </div>
                        
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Evaluación</h2>
                        <p>Nuestros expertos evaluarán tu solicitud, y se pondrán en contacto contigo para confirmar la información.
                        </p>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Confirmación</h2>
                        <p>Valida tu información y confirma tu participación .</p>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-cogs"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Implementación</h2>
                        <p>Ya eres parte de uno de los productos que cambiarán el mundo, podrás recibir actualizaciones y seguir el progreso del mismo. </p>
                        <a href="#" class="btn btn-xs btn-primary"> Registrarse</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</section>



<section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Aliarse</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Técnico
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    Desarrollador
                </li>
                <li>
                    Diseñador
                </li>
                <li>
                    Marketing
                </li>
                <li>
                    Analista
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    Financiero
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li>
                    Seguimiento de proyectos
                </li>
                <li>
                    Contacto directo
                </li>
                <li>
                    Notificaciones
                </li>
                <li>
                    Tiempos
                </li>
                <li>
                    <strong>Ganancias</strong>
                </li>
                <li class="plan-action">
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Comercial
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li>
                    Seguimiento de proyectos
                </li>
                <li>
                    Contacto directo
                </li>
                <li>
                    Notificaciones
                </li>
                <li>
                    Tiempos
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="/aliarse">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>* Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

</section>

<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contáctanos</h1>
            <p>Dejanos tu mensaje y te atenderemos a la brevedad.</p>
        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-2">
            <br><br>
            <address>
                <strong><span class="navy">Brezza Project C.A.</span></strong><br/>
                Av. Lara con Av. Los Leones<br/>
                Barquisimeto, Lara, Venezuela<br/>
                <abbr title="Phone">Teléfono:</abbr> +58(251) 456-7890
            </address>
            <br><br>
            <div class="col-lg-12 text-center">
            <p class="m-t-sm">
                O siguenos en nuestras redes sociales
            </p>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-5">
            <div>
                <%= form_tag(root_path, {:class => "form"}) do %>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" name="nombre" placeholder="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input type="email" name="email" placeholder="ejemplo@mail.net" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mensaje</label>
                            <textarea name="mensaje" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Enviar</button>

                <% end -%>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2016-2017 Brezza Project S.A.</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


    // Activate WOW.js plugin for animation on scrol
    new WOW().init();


});

</script>

<% end %>
