<div class="navbar-wrapper">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="" href="/">
            <img width="240" height="40" class="navbar-brand" src="<%= image_url '/assets/logo/brezza-logo.png' %>">
            </a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a class="page-scroll" href="#page-top">Inicio</a></li>
               <li><a class="page-scroll" href="#productos">Productos</a></li>
               <li><a class="page-scroll" href="#team">Nosotros</a></li>
               <li><a class="page-scroll" href="#pricing">Únete</a></li>
               <li><a class="page-scroll" href="#contact">Contacto</a></li>
               <% if user_signed_in? %>
               <li><%= link_to "Administración", home_minor_path, :class => "page-scroll" %></li>
               <%else %>
               <li><a class="page-scroll" data-toggle="modal" data-target="#myModal7">Iniciar Sesión</a>
                  <%#= link_to "Iniciar Sesión", new_user_session_path, :class => "page-scroll" %>
               </li>
               <%end %>
            </ul>
         </div>
      </div>
   </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal7" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Iniciar Sesión</h4>
         </div>
         <div class="modal-body">
            <%= form_for(User.new, :url => user_session_path) do |f| %>
            <div class="field">
               <div class="col-md-offset-3 col-md-6" style="padding-top: 52px">
                  <%= image_tag "bz1.png", :class => "img-responsive"%>
               </div>
            </div>
            <div class="field">
               <div class="col-md-offset-1 col-md-10" style="padding-top: 32px">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "usuario@ejemplo.com"  %>
               </div>
            </div>
            <div class="field" style="padding-top: 172px">
               <div class="col-md-offset-1 col-md-10">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
               </div>
            </div>
            <br>
            <div class="actions text-center" style="padding-top: 92px">
               <%= submit_tag 'Iniciar Sesión' , class: "btn btn-primary m-b" %>
            </div>
            <% end %>
         </div>
         <div class="modal-footer">
            <p>¿No eres miembro? <a href="/users/sign_up">Registrate</a></p>
            <p>¿Olvidaste tu <a href="/users/password/new">Clave?</a></p>
         </div>
      </div>
   </div>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
   <ol class="carousel-indicators">
      <% @numslider = 0 %>
      <% @sliders.each do %>
      <% if @numslider == 0 %>
      <li data-target="#inSlider" data-slide-to="0" class="active"></li>
      <% else %>
      <li data-target="#inSlider" data-slide-to="<%= @numslider %>"></li>
      <% end %>
      <% @numslider = @numslider + 1 %>
      <% end %>
   </ol>
   <div class="carousel-inner" style="overflow: visible !important;" role="listbox">
      <% @numslider2 = 0 %>
      <% @sliders.each do |slider| %>
      <% if @numslider2 == 0 %>
      <div class="item active">
         <div class="container">
            <div class="carousel-caption" style="color: <%= slider.color %>">
               <h1><%= slider.title%>
               </h1>
               <p><%= slider.description %></p>
               <p>
                  <a class="btn btn-lg btn-primary" href="<%= slider.link %>" role="button"><%= slider.buttontext %></a>
               </p>
            </div>
            <div class="carousel-image wow slideInRight" data-wow-delay="1.2s">
               <%= image_tag slider.imagen.url, :alt => "Slider principal", :title => "Slider principal" %>
            </div>
         </div>
         <!-- Set background for slide in css -->
         <div class="header-back one" style="background-image: url('<%= slider.fondo.url %>');"></div>
      </div>
      <% else %>
      <div class="item">
         <div class="container">
            <div class="carousel-caption" style="color: <%= slider.color %>">
               <h1><%= slider.title%>
               </h1>
               <p><%= slider.description %></p>
               <p>
                  <a class="btn btn-lg btn-primary" href="<%= slider.link %>" role="button"><%= slider.buttontext %></a>
               </p>
            </div>
            <% if !slider.imagen_file_name.nil? %>
            <div class="carousel-image wow slideInRight" data-wow-delay="1.2s">
               <%= image_tag slider.imagen.url(:medium), :alt => "Slider principal", :title => "Slider principal" %>
            </div>
            <% end %>
         </div>
         <!-- Set background for slide in css -->
         <div class="header-back one" style="background-image: url('<%= slider.fondo.url %>');"></div>
      </div>
      <% end %>
      <% @numslider2 = @numslider2 + 1 %>
      <% end %>
   </div>
   <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" style="text-shadow: 0 0 10px #00257b;" aria-hidden="true"></span>
   <span class="sr-only">Anterior</span>
   </a>
   <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right" style="text-shadow: 0 0 10px #00257b;" aria-hidden="true"></span>
   <span class="sr-only">Siguiente</span>
   </a>
</div>
<section class="features">
   <div class="container">
      <% unless flash.empty? %>
      <script type="text/javascript">
         <% flash.each do |f| %>
         <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success').gsub('warning','warning').gsub('info','info') %>
          toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
      </script>
      <% end %>
      <div class="row">
         <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1 style="color: #00257">Beneficios</h1>
            <p><%= @benefit.description %></p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-5 col-lg-offset-1 features-text wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
            <h2 style="color: #00257"><%= @benefit.title1 %></h2>
            <i class="fa <%= @benefit.icon1 %> big-icon pull-right"></i>
            <p><%= @benefit.desc1 %></p>
         </div>
         <div class="col-lg-5 features-text wow slideInRight" data-wow-duration="1s" data-wow-delay="1.7s">
            <h2 style="color: #00257"><%= @benefit.title2 %></h2>
            <i class="fa <%= @benefit.icon2 %> big-icon pull-right"></i>
            <p><%= @benefit.desc2 %></p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-5 col-lg-offset-1 features-text wow slideInLeft" data-wow-duration="1s" data-wow-delay="2.4s">
            <h2 style="color: #00257"><%= @benefit.title3 %></h2>
            <i class="fa <%= @benefit.icon3 %> big-icon pull-right"></i>
            <p><%= @benefit.desc3 %></p>
         </div>
         <div class="col-lg-5 features-text wow slideInRight" data-wow-duration="1s" data-wow-delay="3.1s">
            <h2 style="color: #00257"><%= @benefit.title4 %></h2>
            <i class="fa <%= @benefit.icon4 %> big-icon pull-right"></i>
            <p><%= @benefit.desc4 %></p>
         </div>
      </div>
   </div>
</section>
<section id="productos" class=" gray-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Más de 10 productos<br/> <span class="navy"> que cambiarán el mundo</span> </h1>
            <p><%= @lilpro.description %></p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 text-center wow fadeInLeft">
            <div>
               <%= link_to products_path do %>
               <i class="fa <%= @categories.first.icon %> features-icon"></i>
               <h2><%= link_to @categories.first.name, productos_path(:cate => @categories.first.name), class: "btn btn-primary"  %></h2>
               <% end %>
               <p><%= @categories.first.fronttext %></p>
            </div>
            <div class="m-t-lg">
               <%= link_to products_path do %>
               <i class="fa <%= @categories.find(2).icon %> features-icon"></i>
               <h2><%= link_to @categories.find(2).name, productos_path(:cate => @categories.find(2).name), class: "btn btn-primary"  %></h2>
               <% end %>
               <p><%= @categories.find(2).fronttext %></p>
            </div>
         </div>
         <div class="col-md-6 text-center  wow zoomIn">
            <%= image_tag @lilpro.image.url, :alt => "Categorias", :title => "Categorias", :class => "img-responsive" %>
         </div>
         <div class="col-md-3 text-center wow fadeInRight">
            <div>
               <%= link_to products_path do %>
               <i class="fa <%= @categories.find(3).icon %> features-icon"></i>
               <h2><%= link_to @categories.find(3).name, productos_path(:cate => @categories.find(3).name), class: "btn btn-primary"  %></h2>
               <% end %>
               <p><%= @categories.find(3).fronttext %></p>
            </div>
            <div class="m-t-lg">
               <%= link_to products_path do %>
               <i class="fa <%= @categories.find(4).icon %> features-icon"></i>
               <h2><%= link_to @categories.find(4).name, productos_path(:cate => @categories.find(4).name), class: "btn btn-primary"  %></h2>
               <% end %>
               <p><%= @categories.find(4).fronttext %></p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="features">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center wow zoomIn">
            <div class="navy-line"></div>
            <h1>Portafolio</h1>
            <p>Productos y servicios que ofrece Brezza Project, S.A.</p>
         </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
         <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="<% @tags.each do |tag| %>.<%=tag.name %><% if tag!=@tags.last %>,<%end%><%end%>">Todos</span></li>
            <% @tags.each do |tag| %>
            <li><span class="filter" data-filter=".<%= tag.name %>"><%= tag.name %></span></li>
            <%end %>
         </ul>
         <div style=" height: 400px;vertical-align:middle;">
            <div id="portfoliolist">
               <% @products.each do |product| %>
               <%= link_to product do %>
               <div class="portfolio <% product.tags.each do |tag|%><%= tag.name+' '%><% end %>" data-cat="<% product.tags.each do |tag|%><%=tag.name+' '%><% end %>">
                  <div class="portfolio-wrapper">
                     <img src="<%= image_url product.thumb.url %>" alt="<%= product.name %>" />
                     <div class="label">
                        <div class="label-text">
                           <a class="text-title"><%= product.name %></a> 
                           <span class="text-category"><% product.tags.each do |tag|%><%= link_to (tag.name+' '), productos_path(:tag => tag.name)%><% end %></span>
                        </div>
                        <div class="label-bg"> </div>
                     </div>
                  </div>
               </div>
               <% end %>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
               Lo que dicen los medios
            </h1>
            <dv class="text-center">
            </br></br>
            <div id="slides">
               <ul>
                  <% @testimonials.each do |testimonial| %>
                  <li class="slide">
                     <div class="testimonials-text">
                        <h3>"<%= testimonial.quote %>"</h3>
                     </div>
                     <small>
                     <strong><%= testimonial.autor %> - <%= testimonial.date %></strong>
                     </small>
                  </li>
                  <% end %>
               </ul>
            </div>
            <div class="btn-bar">
               <div id="buttons">
                  <a id="prev" href="#">.</a>
                  <a id="next" href="#">.</a> 
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<section id="team" class="features">
   <div class="container">
      <div class="col-lg-12 text-center">
         <div class="navy-line"></div>
         <h1>Quiénes Somos</h1>
         <p><%= @whoare.description %> </p>
      </div>
      <div class="col-lg-6 text-center">
         <div class="col-lg-12 text-center m-t-n-lg wow zoomIn">
            </br>
            </br>
            <p align="left"><%= image_tag @whoare.image.url, :alt => "Brezza Project", :title => "Brezza Project", :class => "img-responsive"%></p>
         </div>
      </div>
      <div class="col-lg-6 text-center wow fadeInDown">
         <!--FILOSOFIA DE GESTION-->
         <br><br><br><br>
         <div class="accordion">
            <div class="panel-group" id="accordion1">
               <div class="panel panel-default">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" aria-expanded="true" href="#collapseOne1">
                     <div class="panel-heading actives">
                        <h3 class="panel-title">
                           Brezza Project, S.A.
                           <i class="fa fa-angle-right pull-right"></i>
                        </h3>
                  </a>
                  </div>
                  <div id="collapseOne1" class="panel-collapse collapse in">
                     <div class="panel-body">
                        <div class="media accordion-inner">
                           <div class="media-body">
                              <p><%= @whoare.brezzastory%> </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                        <h3 class="panel-title">
                           Visión
                           <i class="fa fa-angle-right pull-right"></i>
                        </h3>
                     </a>
                  </div>
                  <div id="collapseThree1" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p><%= @whoare.vision %> </p>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                        <h3 class="panel-title">
                           Misión
                           <i class="fa fa-angle-right pull-right"></i>
                        </h3>
                     </a>
                  </div>
                  <div id="collapseTwo1" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p><%= @whoare.mission %> </p>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                        <h3 class="panel-title">
                           Reseña histórica
                           <i class="fa fa-angle-right pull-right"></i>
                        </h3>
                     </a>
                  </div>
                  <div id="collapseFour1" class="panel-collapse collapse">
                     <div class="panel-body">
                        <%= image_tag "bz1.png" %>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><span class="fa fa-play"></span>  Ver Video</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                           <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Reseña histórica</h4>
                                 </div>
                                 <div class="modal-body">
                                    <iframe id="cartoonVideo" width="560" height="315" src="<%="//www.youtube.com/embed/"+@whoare.final_url %>" frameborder="0" allowfullscreen></iframe>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                        <h3 class="panel-title">
                           Organización
                           <i class="fa fa-angle-right pull-right"></i>
                        </h3>
                     </a>
                  </div>
                  <div id="collapseFive1" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p><%= @whoare.organigram %></p>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">Organigrama</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal2" role="dialog">
                           <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Organigrama</h4>
                                 </div>
                                 <div class="modal-body">
                                    <p><%= @whoare.organigram %></p>
                                    <%= image_tag @whoare.organigrampic.url, :alt => "Organigrama", :title => "Organigrama", :class => "img-responsive" %>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--/#accordion1-->
         </div>
      </div>
   </div>
   <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
               <h4 class="modal-title">Reseña Historica</h4>
               <small class="font-bold">Intégrate y prospera.</small>
            </div>
            <div class="modal-body">
               <figure align="center">
                  <iframe id="cartoonVideo" width="400" height="250" src="<%="//www.youtube.com/embed/"+@whoare.final_url %>" frameborder="0" allowfullscreen></iframe>
               </figure>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="cd-horizontal-timeline gray-section" id="Steps">
   <div class="row">
      <div class="col-lg-12 text-center">
         <div class="navy-line"></div>
         <h1>Participar en nuestros proyectos es muy fácil</h1>
         <p>Cambia tu vida con nuestros innovadores proyectos en 5 simples pasos</p>
      </div>
   </div>
   <div class="timeline">
      <div class="events-wrapper">
         <div class="events col-md-offset-2 col-md-4">
            <ul style="list-style:none;" >
               <li><a href="#0" data-date="28/01/2014" class="selected">Paso 1</a></li>
               <li><a href="#0" data-date="28/02/2014">Paso 2</a></li>
               <li><a href="#0" data-date="28/03/2014">Paso 3</a></li>
               <li><a href="#0" data-date="28/04/2014">Paso 4</a></li>
               <li><a href="#0" data-date="28/05/2014">Paso 5</a></li>
            </ul>
            <span class="filling-line" aria-hidden="true"></span>
         </div>
         <!-- .events -->
      </div>
      <!-- .events-wrapper -->
   </div>
   <!-- .timeline -->
   <div class="events-content">
      <ol style="list-style:none;">
         <li class="selected" data-date="28/01/2014">
            <div class="row">
               <div class="col-md-offset-1 col-md-2">
                  </br></br>
                  <%= image_tag @step.img.url, :alt => "Step 1", :class => "pasos-img"%>
               </div>
               <div class="col-md-9">
                  <h2>Paso 1. <%= @step.title0 %></h2>
                  <em><%= @step.description %></em>
               </div>
            </div>
            </br></br>
         </li>
         <li data-date="28/02/2014">
            <div class="row">
               <div class="col-md-offset-1 col-md-2">
                  </br></br>
                  <%= image_tag @step.img1.url, :alt => "Step 2", :class => "pasos-img"%>
               </div>
               <div class="col-md-9">
                  <h2>Paso 2. <%= @step.title1 %></h2>
                  <em><%= @step.description1 %> </em>
               </div>
            </div>
            </br></br>
         </li>
         <li data-date="28/03/2014">
            <div class="row">
               <div class="col-md-offset-1 col-md-2">
                  </br></br>
                  <%= image_tag @step.img2.url, :alt => "Step 3", :class => "pasos-img"%>
               </div>
               <div class="col-md-9">
                  <h2>Paso 3. <%= @step.title2 %></h2>
                  <em><%= @step.description2 %> </em>
               </div>
            </div>
            </br></br>
         </li>
         <li data-date="28/04/2014">
            <div class="row">
               <div class="col-md-offset-1 col-md-2">
                  </br></br>
                  <%= image_tag @step.img3.url, :alt => "Step 4", :class => "pasos-img"%>
               </div>
               <div class="col-md-9">
                  <h2>Paso 4. <%= @step.title3 %></h2>
                  <em><%= @step.description3 %> </em>
               </div>
            </div>
            </br></br>
         </li>
         <li data-date="28/05/2014">
            <div class="row">
               <div class="col-md-offset-1 col-md-2">
                  </br></br>
                  <%= image_tag @step.img4.url, :alt => "Step 5", :class => "pasos-img"%>
               </div>
               <div class="col-md-9">
                  <h2>Paso 5. <%= @step.title4 %></h2>
                  <em><%= @step.description4 %> </em>
               </div>
            </div>
            </br></br>
         </li>
      </ol>
   </div>
   <!-- .events-content -->
</section>
<section id="pricing" class="pricing">
   <div class="container">
      <div class="row m-b-lg">
         <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><%= @ally.title %></h1>
            <p><%= @ally.description %></p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
               <li class="pricing-title">
                  Técnico
               </li>
               <li class="pricing-desc">
                  <%= @ally.t1 %>
               </li>
               <li class="pricing-price">
                  <%= @ally.t2 %>
               </li>
               <li>
                  <%= @ally.t3 %>
               </li>
               <li>
                  <%= @ally.t4 %>
               </li>
               <li>
                  <%= @ally.t5 %>
               </li>
            </ul>
         </div>
         <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
               <li class="pricing-title">
                  Financiero
               </li>
               <li class="pricing-desc">
                  <%= @ally.f1 %>
               </li>
               <li>
                  <%= @ally.f2 %>
               </li>
               <li>
                  <%= @ally.f3 %>
               </li>
               <li>
                  <%= @ally.f4 %>
               </li>
               <li>
                  <%= @ally.f5 %>
               </li>
               <li>
                  <strong><%= @ally.f6 %></strong>
               </li>
            </ul>
         </div>
         <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
               <li class="pricing-title">
                  Comercial
               </li>
               <li class="pricing-desc">
                  <%= @ally.c1 %>
               </li>
               <li>
                  <%= @ally.c2 %>
               </li>
               <li>
                  <%= @ally.c3 %>
               </li>
               <li>
                  <%= @ally.c4 %>
               </li>
               <li>
                  <%= @ally.c5 %>
               </li>
            </ul>
         </div>
      </div>
      </br></br>
      <div class="row">
         <div class="col-lg-12  text-center m-t-lg">
            <a class="btn btn-primary btn-lg" href="/productos" style="background:#337ab7">SELECCIONA EL PRODUCTO DE TU PREFERENCIA</a>
         </div>
      </div>
   </div>
</section>
<section id="contact" class="gray-section contact">
   <div class="container">
      <div class="row m-b-lg">
         <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contáctanos</h1>
            <p><%= @contact.description %></p>
         </div>
      </div>
      <div class="row m-b-lg">
         <div class="col-lg-3 col-lg-offset-2">
            <br><br>
            <address align="center">
               <strong><span class="navy"><%= @contact.name %></span></strong><br/>
               <%= @contact.address %><br/>
               <abbr title="Phone">Teléfono:</abbr> <%= @contact.phone %>
            </address>
            <br><br>
            <div class="col-lg-12 text-center">
               <p class="m-t-sm">
                  Síguenos en nuestras redes sociales
               </p>
               <ul class="list-inline social-icon">
                  <li><a target="_blank" href="<%= @contact.twitter %>/"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a target="_blank" href="<%= @contact.facebook %>"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a target="_blank" href="<%= @contact.instagram %>"><i class="fa fa-instagram"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-lg-5">
            <div>
               <%= form_for @mensaje, :html => {:class => "form" }  do |f| %>
               <div class="form-group">
                  <label class="control-label">Nombre</label>
                  <%= f.text_field :nombre,:required => true, :class => "form-control", :placeholder => "John Doe" %>
               </div>
               <div class="form-group">
                  <label class="control-label">Correo</label>
                  <%= f.text_field :correo,:required => true, :class => "form-control",  :placeholder => "ejemplo@mail.net", :class =>"form-control" %>
               </div>
               <div class="form-group">
                  <label class="control-label">Mensaje</label>
                  <%= f.text_area :mensaje,:required => true, :class => "form-control", :placeholder => "Escriba su mensaje..." %>
               </div>
               <button class="btn btn-primary" type="submit">Enviar</button>
               <% end -%>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2016-2017 Brezza Project S.A.</strong><br/> <a data-toggle="modal" data-target="#myModalpol">Políticas de privacidad</a> | <a data-toggle="modal" data-target="#myModalpro">Prospectiva de Brezza Project, S.A.</a> | <a data-toggle="modal" data-target="#myModalesc">Escalabilidad web</a></p>
            <!-- Modal -->
            <div class="modal fade" id="myModalpol" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Políticas de privacidad</h4>
                     </div>
                     <div class="modal-body">
                        <p>
                        <p><%= @contact.polpriv.html_safe %></p>
                        </p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="myModalpro" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Prospectiva de Brezza Project S.A.</h4>
                     </div>
                     <div class="modal-body">
                        <p>
                        <p><%= @contact.prospectiva.html_safe %></p>
                        </p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="myModalesc" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Escalabilidad web</h4>
                     </div>
                     <div class="modal-body">
                        <p>
                        <p><%= @contact.escalabilidad.html_safe %></p>
                        </p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<% content_for :javascript do %>
<script type="text/javascript">
   $(function() {
   
       $('body').addClass('landing-page');
       $('body').attr('id', 'page-top');
   
       $('body').scrollspy({
           target: '.navbar-fixed-top',
           offset: 80
       });
   
       // Page scrolling feature
       $('a.page-scroll').bind('click', function(event) {
           var link = $(this);
           $('html, body').stop().animate({
               scrollTop: $(link.attr('href')).offset().top - 50
           }, 500);
           event.preventDefault();
           $("#navbar").collapse('hide');
       });
   
       var cbpAnimatedHeader = (function() {
           var docElem = document.documentElement,
                   header = document.querySelector( '.navbar-default' ),
                   didScroll = false,
                   changeHeaderOn = 200;
           function init() {
               window.addEventListener( 'scroll', function( event ) {
                   if( !didScroll ) {
                       didScroll = true;
                       setTimeout( scrollPage, 250 );
                   }
               }, false );
           }
           function scrollPage() {
               var sy = scrollY();
               if ( sy >= changeHeaderOn ) {
                   $(header).addClass('navbar-scroll')
               }
               else {
                   $(header).removeClass('navbar-scroll')
               }
               didScroll = false;
           }
           function scrollY() {
               return window.pageYOffset || docElem.scrollTop;
           }
           init();
   
       })();
   
   
       // Activate WOW.js plugin for animation on scrol
       new WOW().init();
   
   
   });
   
   jQuery(document).ready(function($){
   var timelines = $('.cd-horizontal-timeline'),
   eventsMinDistance = 60;
   
   (timelines.length > 0) && initTimeline(timelines);
   
   function initTimeline(timelines) {
   timelines.each(function(){
   var timeline = $(this),
   	timelineComponents = {};
   //cache timeline components 
   timelineComponents['timelineWrapper'] = timeline.find('.events-wrapper');
   timelineComponents['eventsWrapper'] = timelineComponents['timelineWrapper'].children('.events');
   timelineComponents['fillingLine'] = timelineComponents['eventsWrapper'].children('.filling-line');
   timelineComponents['timelineEvents'] = timelineComponents['eventsWrapper'].find('a');
   timelineComponents['timelineDates'] = parseDate(timelineComponents['timelineEvents']);
   timelineComponents['eventsMinLapse'] = minLapse(timelineComponents['timelineDates']);
   timelineComponents['timelineNavigation'] = timeline.find('.cd-timeline-navigation');
   timelineComponents['eventsContent'] = timeline.children('.events-content');
   
   //assign a left postion to the single events along the timeline
   setDatePosition(timelineComponents, eventsMinDistance);
   //assign a width to the timeline
   var timelineTotWidth = setTimelineWidth(timelineComponents, eventsMinDistance);
   //the timeline has been initialize - show it
   timeline.addClass('loaded');
   
   //detect click on the next arrow
   timelineComponents['timelineNavigation'].on('click', '.next', function(event){
   	event.preventDefault();
   	updateSlide(timelineComponents, timelineTotWidth, 'next');
   });
   //detect click on the prev arrow
   timelineComponents['timelineNavigation'].on('click', '.prev', function(event){
   	event.preventDefault();
   	updateSlide(timelineComponents, timelineTotWidth, 'prev');
   });
   //detect click on the a single event - show new event content
   timelineComponents['eventsWrapper'].on('click', 'a', function(event){
   	event.preventDefault();
   	timelineComponents['timelineEvents'].removeClass('selected');
   	$(this).addClass('selected');
   	updateOlderEvents($(this));
   	updateFilling($(this), timelineComponents['fillingLine'], timelineTotWidth);
   	updateVisibleContent($(this), timelineComponents['eventsContent']);
   });
   
   //on swipe, show next/prev event content
   timelineComponents['eventsContent'].on('swipeleft', function(){
   	var mq = checkMQ();
   	( mq == 'mobile' ) && showNewContent(timelineComponents, timelineTotWidth, 'next');
   });
   timelineComponents['eventsContent'].on('swiperight', function(){
   	var mq = checkMQ();
   	( mq == 'mobile' ) && showNewContent(timelineComponents, timelineTotWidth, 'prev');
   });
   
   //keyboard navigation
   $(document).keyup(function(event){
   	if(event.which=='37' && elementInViewport(timeline.get(0)) ) {
   		showNewContent(timelineComponents, timelineTotWidth, 'prev');
   	} else if( event.which=='39' && elementInViewport(timeline.get(0))) {
   		showNewContent(timelineComponents, timelineTotWidth, 'next');
   	}
   });
   });
   }
   
   function updateSlide(timelineComponents, timelineTotWidth, string) {
   //retrieve translateX value of timelineComponents['eventsWrapper']
   var translateValue = getTranslateValue(timelineComponents['eventsWrapper']),
   wrapperWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', ''));
   //translate the timeline to the left('next')/right('prev') 
   (string == 'next') 
   ? translateTimeline(timelineComponents, translateValue - wrapperWidth + eventsMinDistance, wrapperWidth - timelineTotWidth)
   : translateTimeline(timelineComponents, translateValue + wrapperWidth - eventsMinDistance);
   }
   
   function showNewContent(timelineComponents, timelineTotWidth, string) {
   //go from one event to the next/previous one
   var visibleContent =  timelineComponents['eventsContent'].find('.selected'),
   newContent = ( string == 'next' ) ? visibleContent.next() : visibleContent.prev();
   
   if ( newContent.length > 0 ) { //if there's a next/prev event - show it
   var selectedDate = timelineComponents['eventsWrapper'].find('.selected'),
   	newEvent = ( string == 'next' ) ? selectedDate.parent('li').next('li').children('a') : selectedDate.parent('li').prev('li').children('a');
   
   updateFilling(newEvent, timelineComponents['fillingLine'], timelineTotWidth);
   updateVisibleContent(newEvent, timelineComponents['eventsContent']);
   newEvent.addClass('selected');
   selectedDate.removeClass('selected');
   updateOlderEvents(newEvent);
   updateTimelinePosition(string, newEvent, timelineComponents, timelineTotWidth);
   }
   }
   
   function updateTimelinePosition(string, event, timelineComponents, timelineTotWidth) {
   //translate timeline to the left/right according to the position of the selected event
   var eventStyle = window.getComputedStyle(event.get(0), null),
   eventLeft = Number(eventStyle.getPropertyValue("left").replace('px', '')),
   timelineWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', '')),
   timelineTotWidth = Number(timelineComponents['eventsWrapper'].css('width').replace('px', ''));
   var timelineTranslate = getTranslateValue(timelineComponents['eventsWrapper']);
   
        if( (string == 'next' && eventLeft > timelineWidth - timelineTranslate) || (string == 'prev' && eventLeft < - timelineTranslate) ) {
        	translateTimeline(timelineComponents, - eventLeft + timelineWidth/2, timelineWidth - timelineTotWidth);
        }
   }
   
   function translateTimeline(timelineComponents, value, totWidth) {
   var eventsWrapper = timelineComponents['eventsWrapper'].get(0);
   value = (value > 0) ? 0 : value; //only negative translate value
   value = ( !(typeof totWidth === 'undefined') &&  value < totWidth ) ? totWidth : value; //do not translate more than timeline width
   setTransformValue(eventsWrapper, 'translateX', value+'px');
   //update navigation arrows visibility
   (value == 0 ) ? timelineComponents['timelineNavigation'].find('.prev').addClass('inactive') : timelineComponents['timelineNavigation'].find('.prev').removeClass('inactive');
   (value == totWidth ) ? timelineComponents['timelineNavigation'].find('.next').addClass('inactive') : timelineComponents['timelineNavigation'].find('.next').removeClass('inactive');
   }
   
   function updateFilling(selectedEvent, filling, totWidth) {
   //change .filling-line length according to the selected event
   var eventStyle = window.getComputedStyle(selectedEvent.get(0), null),
   eventLeft = eventStyle.getPropertyValue("left"),
   eventWidth = eventStyle.getPropertyValue("width");
   eventLeft = Number(eventLeft.replace('px', '')) + Number(eventWidth.replace('px', ''))/2;
   var scaleValue = eventLeft/totWidth;
   setTransformValue(filling.get(0), 'scaleX', scaleValue);
   }
   
   function setDatePosition(timelineComponents, min) {
   for (i = 0; i < timelineComponents['timelineDates'].length; i++) { 
      var distance = daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][i]),
      	distanceNorm = Math.round(distance/timelineComponents['eventsMinLapse']) + 2;
      timelineComponents['timelineEvents'].eq(i).css('left', distanceNorm*min+'px');
   }
   }
   
   function setTimelineWidth(timelineComponents, width) {
   var timeSpan = daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][timelineComponents['timelineDates'].length-1]),
   timeSpanNorm = timeSpan/timelineComponents['eventsMinLapse'],
   timeSpanNorm = Math.round(timeSpanNorm) + 4,
   totalWidth = timeSpanNorm*width;
   timelineComponents['eventsWrapper'].css('width', totalWidth+'px');
   updateFilling(timelineComponents['timelineEvents'].eq(0), timelineComponents['fillingLine'], totalWidth);
   
   return totalWidth;
   }
   
   function updateVisibleContent(event, eventsContent) {
   var eventDate = event.data('date'),
   visibleContent = eventsContent.find('.selected'),
   selectedContent = eventsContent.find('[data-date="'+ eventDate +'"]'),
   selectedContentHeight = selectedContent.height();
   
   if (selectedContent.index() > visibleContent.index()) {
   var classEnetering = 'selected enter-right',
   	classLeaving = 'leave-left';
   } else {
   var classEnetering = 'selected enter-left',
   	classLeaving = 'leave-right';
   }
   
   selectedContent.attr('class', classEnetering);
   visibleContent.attr('class', classLeaving).one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(){
   visibleContent.removeClass('leave-right leave-left');
   selectedContent.removeClass('enter-left enter-right');
   });
   eventsContent.css('height', selectedContentHeight+'px');
   }
   
   function updateOlderEvents(event) {
   event.parent('li').prevAll('li').children('a').addClass('older-event').end().end().nextAll('li').children('a').removeClass('older-event');
   }
   
   function getTranslateValue(timeline) {
   var timelineStyle = window.getComputedStyle(timeline.get(0), null),
   timelineTranslate = timelineStyle.getPropertyValue("-webkit-transform") ||
         		timelineStyle.getPropertyValue("-moz-transform") ||
         		timelineStyle.getPropertyValue("-ms-transform") ||
         		timelineStyle.getPropertyValue("-o-transform") ||
         		timelineStyle.getPropertyValue("transform");
   
        if( timelineTranslate.indexOf('(') >=0 ) {
        	var timelineTranslate = timelineTranslate.split('(')[1];
    		timelineTranslate = timelineTranslate.split(')')[0];
    		timelineTranslate = timelineTranslate.split(',');
    		var translateValue = timelineTranslate[4];
        } else {
        	var translateValue = 0;
        }
   
        return Number(translateValue);
   }
   
   function setTransformValue(element, property, value) {
   element.style["-webkit-transform"] = property+"("+value+")";
   element.style["-moz-transform"] = property+"("+value+")";
   element.style["-ms-transform"] = property+"("+value+")";
   element.style["-o-transform"] = property+"("+value+")";
   element.style["transform"] = property+"("+value+")";
   }
   
   //based on http://stackoverflow.com/questions/542938/how-do-i-get-the-number-of-days-between-two-dates-in-javascript
   function parseDate(events) {
   var dateArrays = [];
   events.each(function(){
   var dateComp = $(this).data('date').split('/'),
   	newDate = new Date(dateComp[2], dateComp[1]-1, dateComp[0]);
   dateArrays.push(newDate);
   });
     return dateArrays;
   }
   
   function parseDate2(events) {
   var dateArrays = [];
   events.each(function(){
   var singleDate = $(this),
   	dateComp = singleDate.data('date').split('T');
   if( dateComp.length > 1 ) { //both DD/MM/YEAR and time are provided
   	var dayComp = dateComp[0].split('/'),
   		timeComp = dateComp[1].split(':');
   } else if( dateComp[0].indexOf(':') >=0 ) { //only time is provide
   	var dayComp = ["2000", "0", "0"],
   		timeComp = dateComp[0].split(':');
   } else { //only DD/MM/YEAR
   	var dayComp = dateComp[0].split('/'),
   		timeComp = ["0", "0"];
   }
   var	newDate = new Date(dayComp[2], dayComp[1]-1, dayComp[0], timeComp[0], timeComp[1]);
   dateArrays.push(newDate);
   });
     return dateArrays;
   }
   
   function daydiff(first, second) {
     return Math.round((second-first));
   }
   
   function minLapse(dates) {
   //determine the minimum distance among events
   var dateDistances = [];
   for (i = 1; i < dates.length; i++) { 
      var distance = daydiff(dates[i-1], dates[i]);
      dateDistances.push(distance);
   }
   return Math.min.apply(null, dateDistances);
   }
   
   /*
   How to tell if a DOM element is visible in the current viewport?
   http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
   */
   function elementInViewport(el) {
   var top = el.offsetTop;
   var left = el.offsetLeft;
   var width = el.offsetWidth;
   var height = el.offsetHeight;
   
   while(el.offsetParent) {
      el = el.offsetParent;
      top += el.offsetTop;
      left += el.offsetLeft;
   }
   
   return (
      top < (window.pageYOffset + window.innerHeight) &&
      left < (window.pageXOffset + window.innerWidth) &&
      (top + height) > window.pageYOffset &&
      (left + width) > window.pageXOffset
   );
   }
   
   function checkMQ() {
   //check if mobile or desktop device
   return window.getComputedStyle(document.querySelector('.cd-horizontal-timeline'), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "");
   }
   });
   
   
   
   
   
   
</script>
<% end %>