<% if !@category.banner_file_name.nil? %>
<%= image_tag @category.banner.url, style: "width: 100%; max-height: 130px;" %>
<% else %>
<%= image_tag 'landing/header_one.jpg', style: "width: 100%; max-height: 130px;" %>
<% end %>
<div class="row wrapper border-bottom white-bg page-heading" >
   <div class="col-lg-10">
      <h2>Brezza <%= @category.name %></h2>
      <ol class="breadcrumb">
         <li>
            <a href="/">Inicio</a>
         </li>
         <li class="active">
            <strong><%= @category.name %></strong>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight container">
   <div class="row">
      <% @products.each do |product| %>
      <div class="col-md-3">
         <div class="ibox">
            <div class="samesize ibox-content product-box">
               <div >
                  <% if !product.thumb_file_name.nil? %>
                  <%= image_tag product.thumb.url, class: "img-responsive samesize2" %>
                  <% else %>
                  <%= image_tag 'p1', class: "img-responsive samesize2" %>
                  <% end %>
               </div>
               <div class="product-desc">
                  <span class="product-price">
                  <%=  product.category.name %>
                  </span>
                  <% product.tags.each do |tag|%><span class="label label-primary hvr-fade hvr-grow"><%= link_to (tag.name+' '), productos_path(:tag => tag.name), :style=>"color: white"%></span> &#160;<% end %> 
                  <a href="#" class="product-name"> <%= product.name %></a>
                  <div class="small m-t-xs">
                     <%= product.description %>
                  </div>
                  <div class="m-t text-righ">
                     <%= link_to product do %>
                     <span class="btn btn-xs btn-outline btn-success">Detalle <i class="fa fa-long-arrow-right"></i> </span>
                     <%end %>
                     <% if user_signed_in? %>
               <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Solicitar alianza <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                     <% if !Alliance.where(:user_id => current_user.id, :product_id => product.id, :allytype => 1, :approval => [nil, true] ).exists? %>
                     <li><%= link_to 'Técnica', alianza_path(product, :type => 1), class: "font-bold" %></li>
                     <% else %>
                     <li>
                        
                        <a href="javascript:AlertIt();" class="fa fa-check font-bold">Técnica</a>
                     </li>
                     <% end %>
                     <% if !Alliance.where(:user_id => current_user.id, :product_id => product.id, :allytype => 2, :approval => [nil, true] ).exists? %>
                     <li><%= link_to 'Financiera', alianza_path(product, :type => 2), class: "font-bold" %></li>
                     <% else %>
                     <li>
                      
                        <a href="javascript:AlertIt();" class="fa fa-check">Financiera</a>
                     </li>
                     <% end %>
                     
                     <% if !Alliance.where(:user_id => current_user.id, :product_id => product.id, :allytype => 3, :approval => [nil, true] ).exists? %>
                     <li><%= link_to 'Comercial', alianza_path(product, :type => 3), class: "font-bold" %></li>
                     <% else %>
                     <li>
                        <script type="text/javascript">
                           function AlertIt() {
                           var answer = confirm ("Ya tienes este tipo de alianza.")
                           if (answer)
                          ;
                           }
                        </script>
                        <a href="javascript:AlertIt();" class="fa fa-check">Comercial</a>
                     </li>
                     <% end %>
                     
                  </ul>
               </div>
               <% else %>
               <%= link_to new_user_session_path do %>
               <button class="btn btn-default btn-sm"><i class="fa fa-user"></i> Registrarse</button>
               <% end %>
               <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>