<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong>Contáctanos</strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="/panel">Inicio</a>
        </li>
        <li class="active">
            <strong class="text-blue">Listado</strong>
        </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-sm-12">
         <div class="ibox float-e-margins">
            <div class="ibox-title">
               <h4 class="text-dark-blue">
                  <strong>Sección de Contacto</strong>
               </h4>
            </div>
            <div class="ibox-content">
               <%= link_to "Editar", edit_contact_path(@contact), :class => "btn btn-primary btn-sm", style: 'position: absolute; z-index: 9999; margin-top: -30px;'%>
               <div class="ibox float-e-margins">
                 <h2 align="center"><%= @contact.description %></h2>
                 <div class="navy-line"></div></br></br>
                <div class="row">
                   <div class="col-lg-6">
                     <p align="center"><%= @contact.name %></p>
                     <p align="center"><%= @contact.address %></p>
                     <p align="center"><%= @contact.phone %></p>
                   </div>
                   <div class="col-lg-6">
                     <p align="center"><%= @contact.twitter %></p>
                     <p align="center"><%= @contact.facebook %></p>
                     <p align="center"><%= @contact.instagram %></p>
                   </div>
                 </div>
                 <div class="navy-line"></div></br></br>
                 <div class="">
                     <p align="center"><%= truncate(@contact.polpriv, :length=> 250, :escape => false, :omission=> '... (continua)') %></p>
                     <p align="center"><%= truncate(@contact.prospectiva, :length=> 250, :escape => false, :omission=> '... (continua)') %></p>
                     <p align="center"><%=truncate(@contact.escalabilidad, :length=> 250, :escape => false, :omission=> '... (continua)') %></p>
                 </div>
               </div> 
            </div>
         </div>
      </div>
   </div>
</div>