<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @contact.instagram %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
