<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong>Pasos</strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>
        <li>
          <a href="/steps">Listado</a>
        </li>
        <li class="active">
          <% if @step.new_record? %>
            <strong class="text-blue">Registrar</strong>
          <% else %>
            <strong class="text-blue">Editar</strong>
          <% end %>
        </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">   
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4 class="text-dark-blue"><strong>Pasos</strong></h4>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">




<%= form_for @step, html: { multipart: true } do |f| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
        <label class="control-label">Titulo 1<label for="step_title0" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :title0,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Descripción 1<label for="step_description0" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :description ,:required => true, :class => "form-control" %>
  </div>
  <div class="form-group">
        <label class="control-label">Imagen 1<label for="step_img" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.file_field :img %>
  </div>
 <div class="form-group">
        <label class="control-label">Titulo 2<label for="step_title1" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :title1,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Descripción 2<label for="step_description1" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :description1,:required => true, :class => "form-control" %>
  </div>
 <div class="form-group">
        <label class="control-label">Imagen 2<label for="step_img1" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.file_field :img1 %>
  </div>
 <div class="form-group">
        <label class="control-label">Titulo 3<label for="step_title2" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :title2,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Descripción 3<label for="step_description2" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :description2,:required => true, :class => "form-control" %>
  </div>
  <div class="form-group">
        <label class="control-label">Imagen 3<label for="step_img2" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.file_field :img2 %>
  </div>
  
 <div class="form-group">
        <label class="control-label">Titulo 4<label for="step_title3" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :title3,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Descripción 4<label for="step_description3" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :description3,:required => true, :class => "form-control" %>
  </div>
<div class="form-group">
        <label class="control-label">Imagen 4<label for="step_img3" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.file_field :img3 %>
  </div>
 <div class="form-group">
        <label class="control-label">Titulo 4<label for="step_title4" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :title4,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Descripción 4<label for="step_description4" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :description4,:required => true, :class => "form-control" %>
  </div>
 <div class="form-group">
        <label class="control-label">Imagen 4<label for="step_img3" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.file_field :img4 %>
  </div>
  <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-2">
                    <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                  </div>
                  <% if (@step.new_record?) %>
                    <div class="col-lg-2">
                      <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                    </div>
                  <% end %>
                  <div class="col-lg-2">
                    <%= link_to 'Atrás', steps_path, :class => "btn btn-sm btn-default" %>
                  </div>
                </div>

<% end %>

 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    $('#form-generic').validate({
      rules: {
        'mensaje[nombre]': {  
            required: true,
            solo_letras: true
        }
      }
    });

  </script>
<% end %>
