<p id="notice"><%= notice %></p>

<p>
  <strong>Title1:</strong>
  <%= @step.title1 %>
</p>

<p>
  <strong>Description1:</strong>
  <%= @step.description1 %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @step.title2 %>
</p>

<p>
  <strong>Description2:</strong>
  <%= @step.description2 %>
</p>

<p>
  <strong>Title3:</strong>
  <%= @step.title3 %>
</p>

<p>
  <strong>Description3:</strong>
  <%= @step.description3 %>
</p>

<p>
  <strong>Title4:</strong>
  <%= @step.title4 %>
</p>

<p>
  <strong>Description4:</strong>
  <%= @step.description4 %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
