<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong>Quiénes Somos</strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>
        <li>
          <a href="/whoares">Listado</a>
        </li>
        <li class="active">
          <% if @whoare.new_record? %>
            <strong class="text-blue">Registrar</strong>
          <% else %>
            <strong class="text-blue">Editar</strong>
          <% end %>
        </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">   
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4 class="text-dark-blue"><strong>Quienes Somos</strong></h4>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">




<%= form_for(whoare) do |f| %>
  <% if whoare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whoare.errors.count, "error") %> prohibited this whoare from being saved:</h2>

      <ul>
      <% whoare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
        <label class="control-label">Descripción <label for="whoare_description" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :description,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Brezza Project S.A. <label for="whoare_brezzastory" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_area :brezzastory,:required => true, :class => "form-control" %>
  </div>
  
 <div class="form-group">
        <label class="control-label">Misión <label for="whoare_mission" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_area :mission,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Visión <label for="whoare_vision" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_area :vision,:required => true, :class => "form-control" %>
  </div>

 <div class="form-group">
        <label class="control-label">Video Reseña Historica <label for="whoare_history" class="control-label error" style="margin-bottom: 0px;"></label></label>
        <%= f.text_field :history,:required => true, :class => "form-control" %>
  </div>

  <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-2">
                    <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                  </div>
                  <% if (@whoare.new_record?) %>
                    <div class="col-lg-2">
                      <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                    </div>
                  <% end %>
                  <div class="col-lg-2">
                    <%= link_to 'Atrás', whoares_path, :class => "btn btn-sm btn-default" %>
                  </div>
                </div>

<% end %>

 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    $('#form-generic').validate({
      rules: {
        'mensaje[nombre]': {  
            required: true,
            solo_letras: true
        }
      }
    });

  </script>
<% end %>
