<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong>Quienes Somos</strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>
        <li class="active">
            <strong class="text-blue">Listado</strong>
        </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4 class="text-dark-blue">
                <strong>Campos: </strong>
              </h4>
          </div>
          <div class="ibox-content">
            <%= link_to "Editar Campos", edit_whoare_path(@whoare), :class => "btn btn-warning btn-sm", style: 'position: absolute; z-index: 9999; margin-top: -30px;'%>

            <div class="row">
                <div class="col-md-6">
                        <h2>Brezza Project S.A.</h2>
                        <p><%= @whoare.brezzastory %></p>
                </div>       
                <div class="col-md-6">
                        <h2>Misión</h2>
                        <p><%= @whoare.mission %></p>
                </div>  
              </div>
              <br><br>
              <div class="row">
                <div class="col-md-6">
                      <h2>Vision</h2>
                        <p><%= @whoare.vision %></p>
                </div>       
                <div class="col-md-6">
                      <h2>Reseña Histórica</h2>
                        <iframe id="cartoonVideo" width="400" height="250" src="<%="//www.youtube.com/embed/"+@whoare.final_url %>" frameborder="0" allowfullscreen></iframe>
                </div>        
              </div>   
          </div>
        </div>
      </div> 
  </div>
</div>


