<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mensaje.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @mensaje.correo %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @mensaje.mensaje %>
</p>

<%= link_to 'Edit', edit_mensaje_path(@mensaje) %> |
<%= link_to 'Back', mensajes_path %>
