<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong>Producto</strong></h2>
      <ol class="breadcrumb">
         <li>
            <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
         </li>
         <li>
            <a href="/products">Listado</a>
         </li>
         <li class="active">
            <% if @product.new_record? %>
            <strong class="text-blue">Registrar Producto</strong>
            <% else %>
            <strong class="text-blue">Editar Producto</strong>
            <% end %>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <div class="ibox float-e-margins">
            <div class="ibox-title">
               <h4 class="text-dark-blue"><strong>Producto</strong></h4>
            </div>
            <div class="ibox-content">
               <div class="row">
                  <div class="col-sm-12">
                     <%= form_for @product , :html => {:multipart => true } do |f| %>
                     <% if @product.errors.any? %>
                     <div id="error_explanation">
                        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
                        <ul>
                           <% @product.errors.full_messages.each do |message| %>
                           <li><%= message %></li>
                           <% end %>
                        </ul>
                     </div>
                     <% end %>
                     <div class="form-group">
                        <label class="control-label">Nombre <label for="product_name" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :name,:required => true, :class => "form-control" %>
                     </div>

                     <div class="form-group">
                        <label class="control-label">Descripcion <label for="product_description" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :description,:required => true, :class => "form-control" %>
                     </div>

                     <div class="form-group">
                        <label class="control-label">Autor <label for="product_author" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :author,:required => true, :class => "form-control" %>
                     </div>
                     
                     <div class="form-group">
                        <label class="control-label">Detalle <label for="product_detail" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_area :detail,:required => true, :class => "form-control" %>
                     </div>
                     
                     
                     <div class="form-group">
                        <label class="control-label">Categoria <label for="product_detail" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.collection_select(:category_id, @categories, :id, :name, {},{:class => "form-control"}) %>
                     </div>
                                             

                     
                     <div class="form-group">
                        <label class="control-label">Tags <label for="product_category_id" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        
                         <%= select_tag "e1", options_from_collection_for_select(@tags, "id", "name", @mistags), id: "simple-example",  multiple: true %>
                        
  <script>
              $(document).ready(function() { $("#simple-example").select2(); });
              
             
            </script>
                     </div>

                     <div class="form-group">
                        <label class="control-label">Monto Recaudado <label for="product_amount" class="control-label error" style="margin-bottom: 0px;"></label></label>
                        <%= f.text_field :amount,:required => true, :class => "form-control" %>
                     </div>
                     
                     <div class="form-group" align="center">
                              <label class="control-label">Imagen <label for="slider_imagen" class="control-label error" style="margin-bottom: 0px;"></label></label>
                              <%#= f.file_field :imagen, :class => "form-control" %>
                              <label class="btn btn-sm btn-primary btn-file">
                              Buscar imagen... <input  name="product[thumb]" id="product_imagen" type="file" hidden>
                              </label>
                              <% if !@product.new_record? %>
                              <%= image_tag @product.thumb.url(:medium), :class => "img-responsive" %>
                              <%end%>
                     </div>

 </br></br>
                     <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                        </div>
                        <% if (@product.new_record?) %>
                        <div class="col-lg-2">
                           <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                        <% end %>
                        <div class="col-lg-2">
                           <%= link_to 'Atrás', products_path, :class => "btn btn-sm btn-default" %>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-2"></div>
   </div>
</div>
<style>
   .btn-file {
   position: relative;
   overflow: hidden;
   }
   .btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
   }
</style>
<% content_for :javascript do %>
<script type="text/javascript">
   $('#form-generic').validate({
     rules: {
       'mensaje[nombre]': {  
           required: true,
           solo_letras: true
       }
     }
   });
   
</script>
<% end %>
<script>
   $(document).ready( function() {
     $('.demo').each( function() {
       //
       // Dear reader, it's actually very easy to initialize MiniColors. For example:
       //
       //  $(selector).minicolors();
       //
       // The way I've done it below is just for the demo, so don't get confused
       // by it. Also, data- attributes aren't supported at this time...they're
       // only used for this demo.
       //
       $(this).minicolors({
         control: $(this).attr('data-control') || 'hue',
         defaultValue: $(this).attr('data-defaultValue') || '',
         format: $(this).attr('data-format') || 'hex',
         keywords: $(this).attr('data-keywords') || '',
         inline: $(this).attr('data-inline') === 'true',
         letterCase: $(this).attr('data-letterCase') || 'lowercase',
         opacity: $(this).attr('data-opacity'),
         position: $(this).attr('data-position') || 'bottom left',
         swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
         change: function(value, opacity) {
           if( !value ) return;
           if( opacity ) value += ', ' + opacity;
           if( typeof console === 'object' ) {
             console.log(value);
           }
         },
         theme: 'bootstrap'
       });
     });
   });
   
   

$(document).ready(function() {
  $(".js-example-basic-single").select2({
    theme: "bootstrap"
});
});
</script>