<%= form_for(testimonial) do |f| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> No pudo ser guardado este registro:</h2>

      <ul>
      <% testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Cita %>
    <%= f.text_area :quote %>
  </div>

  <div class="field">
    <%= f.label :Autor %>
    <%= f.text_field :autor %>
  </div>

  <div class="field">
    <%= f.label :Fecha %>
    <%= f.text_field :date %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
